body {
    font: 1em/1.2em -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', Calibri, 'Myriad Pro', Tahoma, sans-serif;
    overflow: scroll;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

a {
    color: #36c;

    &:hover {
        color: #036;
        text-decoration: none;
    }
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}

// Oversized container that holds the boxes
#boxContainer {
    background-color: #fff;
    z-index: 1;

    // The boxes that we're monitoring
    div {
        border: 1px solid #036;
        color: #444;
        background-color: #ddd;
        text-align: center;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &.flex {
        display: flex;
        flex-wrap: wrap;
        min-width: calc(230vw + 21px);

        div {
            flex: 1 0 23vw;
            width: 23vw;
            min-width: 23vw;
            max-width: 23vw;
            height: 23vw;
            line-height: calc(23vw - 1rem);
            transition: background-color 0.3s ease, color 0.3s ease;
        }
    }

    &.no-flex div {
        float: left;
        display: block;
        border: 1px solid #036;
        color: #444;
        background-color: #ddd;
        text-align: center;
        line-height: auto;
        // vertical-align: middle;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:nth-child(11n) {
            clear: right;
        }
    }

    // A box that's within the viewport
    .inview {
        color: #ddd;
        background-color: #36c;
    }
}

/* Floating intro and controls window */

.explanation {
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -255px;
    max-width: 500px;
    padding: 0.75em;
    background-color: white;
    opacity: 1;
    border: 1px solid navy;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    z-index: 3;

    &.collapsed {
        opacity: 0.6;
        max-width: 400px;
        margin-left: -205px;
    }
}

#toggler {
    position: absolute;
    top: 0;
    right: 0;
}

.hide-when-collapsed {
    .collapsed & {
        display: none;
    }
}

.thresholds {
    input[type='number'] {
        width: 4em;
    }

    fieldset {
        border: none;
    }

    div {
        float: none;
        margin-bottom: 5px;
    }

    .independent-sides-wrapper div {
        text-align: center;
    }
}

.side-strategy-group-1,
.side-strategy-group-2 {
    padding: 1rem;

    &.selected {
        background-color: #3366cc22;
    }
}

.all-sides-wrapper {
    margin-left: 1.5rem;
}

#threshold-left {
    float: left;

    input {
        display: inline-block;
    }
}

#threshold-right {
    float: right;
}

#threshold-bottom {
    clear: both;
}

#container {
    background-color: white;
    margin: 12.5%;
    width: 75%;
    height: 400px;
    height: 75vh;
    overflow: scroll;
}

.boundary {
    position: fixed;
    border: 0 dashed #03c;
    background-color: #3cf;
    background-color: rgba(51, 153, 255, 0.3);
    overflow: hidden;
    z-index: 2;
}

.boundary-top {
    left: 0;
    width: 100%;
    border-bottom-width: 1px;
}

.boundary-right {
    top: 0;
    height: 100%;
    border-left-width: 1px;
}

.boundary-bottom {
    left: 0;
    width: 100%;
    border-top-width: 1px;
}

.boundary-left {
    top: 0;
    height: 100%;
    border-right-width: 1px;
}

/* Buttons */

/* http://www.red-team-design.com/just-another-awesome-css3-buttons */

.button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    border: 1px solid #777;
    padding: 0 1em;
    margin: 0.5em;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    border-radius: 0.2em;
    background-clip: padding-box;
}

.button:hover {
    background-color: #ddd;
}

.button:active {
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}

.button:before {
    background: #ccc;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 0.2em;
    border-radius: 0.15em 0 0 0.15em;
    background-clip: padding-box;
}

/* Hexadecimal entities for the icons  */

// plus sign
.plus:before {
    content: '\271A';
}

// minus sign
.minus:before {
    content: '\2013';
}

// Smaller buttons
.button.small {
    &:before {
        font-size: 1em;
        margin: 0 0.5em 0 -1em;
    }
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
