body {
    font: 1em/1.2em -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', Calibri, 'Myriad Pro', Tahoma, sans-serif;
    overflow: scroll;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

@import './_buttons.scss';
@import './_boxes.scss';
@import './_control-panel.scss';

a {
    color: #36c;

    &:hover {
        color: #036;
        text-decoration: none;
    }
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}

code {
    font: 0.9em/1em Menlo, Consolas, monospace;
    color: darken(rgba(51, 153, 255), 40%);
    background-color: rgba(51, 153, 255, 0.05);
}

#arbitrary-viewport-container {
    background-color: white;
    margin: 12.5%;
    width: 75%;
    height: 400px;
    height: 75vh;
    overflow: scroll;
}

.boundary {
    position: fixed;
    border: 0 dashed #03c;
    background-color: #3cf;
    background-color: rgba(51, 153, 255, 0.3);
    overflow: hidden;
    z-index: 2;
}

.boundary-top {
    left: 0;
    width: 100%;
    border-bottom-width: 1px;
}

.boundary-right {
    top: 0;
    height: 100%;
    border-left-width: 1px;
}

.boundary-bottom {
    left: 0;
    width: 100%;
    border-top-width: 1px;
}

.boundary-left {
    top: 0;
    height: 100%;
    border-right-width: 1px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
