body {
    font: 1em/1.2em "Segoe UI", "Myriad Pro", Tahoma, sans-serif;
    overflow: scroll;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

a {
    color: #36C;
}

a:hover {
    color: #036;
    text-decoration: none;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

h2 {
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}


/* Oversized container that holds the boxes */

#boxContainer {
    background-color: #fff;
    z-index: 1;
}


/* The boxes that we're monitoring color */

#boxContainer div {
    float: left;
    display: block;
    border: 1px solid #036;
    color: #444;
    background-color: #ddd;
    text-align: center;
    line-height: auto;
    vertical-align: middle;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#boxContainer div:nth-child(11n) {
    clear: right;
}


/* A box that's within the viewport */

#boxContainer .inview {
    color: #ddd;
    background-color: #36C;
}


/* Floating intro and controls window */

#explanation {
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -255px;
    max-width: 500px;
    padding: 0.75em;
    background-color: white;
    opacity: 1;
    border: 1px solid navy;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
}

#explanation.collapsed {
    opacity: 0.6;
    max-width: 400px;
    margin-left: -205px;
}

#explanation.collapsed p {}

#toggler {
    position: absolute;
    top: 0;
    right: 0;
}

#thresholds {
    width: 70%;
    padding: 5px;
    margin: 0 auto;
}

.collapsed #thresholds {
    display: none;
}

#thresholds p {
    margin-top: 4px;
    text-align: center;
}

form {
    width: 90%;
    margin: 0 auto;
}

form input[type="number"] {
    width: 4em;
}

form div {
    float: none;
    text-align: center;
    margin-bottom: 5px;
}

#container {
    background-color: white;
    margin: 50px;
    height: 400px;
    height: calc(100vh - 100px);
    overflow: scroll;
}


/* Buttons */


/* http://www.red-team-design.com/just-another-awesome-css3-buttons */

.button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
    border-radius: .2em;
    background-clip: padding-box;
}

.button:hover {
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: linear-gradient(top, #fafafa, #ddd);
}

.button:active {
    position: relative;
    top: 1px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}

.button:before {
    background: #ccc;
    background: rgba(0, 0, 0, .1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    border-radius: .15em 0 0 .15em;
    background-clip: padding-box;
}


/* Hexadecimal entities for the icons  */

.plus:before {
    content: "\271A";
}


/* plus sign */

.minus:before {
    content: "\2013";
}


/* minus sign */


/* Smaller buttons */

.button.small {
    font: bold 12px/20px Arial, Helvetica;
    padding: 0 1em;
}

.button.small:before {
    font-size: 1em;
    margin: 0 0.5em 0 -1em;
}
